.box-card-tabel{
  margin: 10px 50px 0px 50px;
  border-radius: 5px;
  border: 0px;
}
.box-card-tabel .el-card__header{
  background-color: #ffffff;
  padding: 0 0;
}
.box-card-tabel.is-always-shadow{
  box-shadow: 0 0px 0px 0;
}
.box-card-tabel .el-table th{
  background-color: #e8edf7;
  height: 50px;
  font-size: 14px;
  font-weight: normal;
  color: #282828;
}
.box-card-tabel .el-table tr {
  background-color: #ffffff;
  font-size: 14px;
}
.box-card-tabel .el-table--striped .el-table__body tr.el-table__row--striped td{
  background-color: #f5f6fa;
}
.box-card-tabel .el-table td, .el-table th.is-leaf{
  border-bottom: 0;
  border-left: 1.5px solid #f5f6fa; /*表格纵向边框*/
}
.box-card-tabel .el-pager li, .el-pagination button, .el-pagination span:not([class*=suffix]){
  font-size: 14px;
}
.box-card-search .cond-name {
  font-size: 14px;
  padding-left: 10px;
  color: #4a4a4a;
  margin: 0 10px 0 0;
}
.box-card-search {
  margin: 20px 40px 0px 40px;
  background: #ffffff;
  border-radius: 5px;
  border: 0px;
}
.box-card-search.is-always-shadow{
  box-shadow: 0 0px 0px 0;
}
.box-card-search .el-input--small .el-input__inner{
  height: 40px;
  line-height: 40px;
  font-size: 14px;
}
